<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerMessage="">
  <nb-card-header>
    <div class="row">
      <div class="col-sm-6">
        <title-form title="Listas"></title-form>
      </div>
      <div class="col-sm-6">
        <button *ngIf="!show && id" class="btn btn-primary btn-small float-right" expand="block" status="primary" type="button"(click)="showItens()">Visualizar Itens</button>
        <button *ngIf="show && id" class="btn btn-primary btn-small float-right" expand="block" status="primary" type="button"(click)="show = false">Ocultar Itens</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form novalidate (ngSubmit)="submit()" [formGroup]="formList">
      <div class="row fields-container">
        <div class="col-sm-6">
          <label >Categoria</label>
          <input type="text" class="form-control readonly" formControlName="category" readonly>
        </div>
        <div class="col-sm-6">
          <label class="required">Nome da Lista</label>
          <input type="text" class="form-control" formControlName="name">
          <label class="label-error" *ngIf="formList.controls.name.invalid && submitted">Campo obrigatório</label>
        </div>
      </div>
      <div class="actions">
          <button class="btn btn-warning btn-small" expand="block" status="warning" type="button"(click)="cancelClick()">Cancelar</button>
          <button class="btn btn-success btn-small" expand="block" status="success" type="submit">Salvar</button>
      </div>
  </form>
  </nb-card-body>

</nb-card>

<nb-card *ngIf="show">
  <nb-card-body>
    <datagrid  [data]="data" [columns]="columns" [routine]="routine" [formPage]="formPage" title="Itens"></datagrid>
  </nb-card-body>
  
</nb-card>