<h2>{{title}}</h2>
<div [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerMessage="">
  <button class="btn btn-tn btn-primary" (click)="onAdd()">
    Adicionar
  </button>
	<table>
		<thead>
			<tr>
        <th class="text-center" *ngFor="let colunm of columns">{{colunm.title}}</th>
        <th class="text-center" colspan="2">Ações</th>
			</tr>
		</thead>

		<tbody>
      <tr *ngFor="let item of items">
        <td class="text-center" *ngFor="let td of item">{{td}}</td>
        <td class="text-center" *ngIf="item.length < columns.length"></td>
        <td class="text-center" (click)="onEdit(item)">
          <i class="edit nb-edit"></i>
        </td>
        <td class="text-center" (click)="onDelete(item)">
          <i class="remove nb-trash"></i>
        </td>
      </tr>
		</tbody>

		<tbody *ngIf="!loading">
			<tr *ngIf="items.length == 0">
          <td colspan="4" class="text-center one-line">Nenhum registro encontrado</td>
			</tr>
		</tbody>
	</table>
</div>
