@import '../../styles/themes.scss';

button {
    margin-top: 15px;
    float: right;
    margin-bottom: 10px;
    padding: 7px 10px;
}

.text-center.date {
	margin-right: 16px;
}

tbody {
	i{
        font-size: 2rem;
    }
    .edit{
        color: nb-theme(color-secondary);
    }

    .remove{
        color: nb-theme(color-danger);
    }
}
