<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerMessage="">
  <nb-card-header>
    <div class="row">
      <div class="col-sm-6">
        <title-form title="Item"></title-form>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form novalidate (ngSubmit)="submit()" [formGroup]="formItem">
      <div class="row fields-container">
        <div class="col-sm-6">
          <label>Categoria</label>
          <input type="text" class="form-control readonly" formControlName="category" readonly>
        </div>
        <div class="col-sm-6">
          <label>Lista</label>
          <input type="text" class="form-control readonly" formControlName="list" readonly>
        </div>
        <div class="col-sm-6">
          <label class="required">Item</label>
          <input type="text" class="form-control" formControlName="name">
          <label class="label-error" *ngIf="formItem.controls.name.invalid && submitted">Campo obrigatório</label>
        </div>
        <div class="col-sm-6">
          <label>Feito</label>
          <input type="checkbox" class="form-control" formControlName="done">
        </div>
      </div>
      <div class="actions">
          <button class="btn btn-warning btn-small" expand="block" status="warning" type="button"(click)="cancelClick()">Cancelar</button>
          <button class="btn btn-success btn-small" expand="block" status="success" type="submit">Salvar</button>
      </div>
  </form>
  </nb-card-body>

</nb-card>
