// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';

// reset css
@import './reset';

// global app font size
@import './font-size';

// global app fonts
@import './font-san-francisco';
@import './font-quicksand';

// loading progress bar theme
@import './pace.theme';

@import './bootstrap-rtl';

// Advent Pro | Open Sans
@import url('https://fonts.googleapis.com/css?family=Advent+Pro:100,400,600|Open+Sans:400,600');

// install the framework and custom global styles
@include nb-install() {

	// framework global styles
	@include nb-theme-global();
	@include nb-auth-global();
	@include nb-bootstrap-global();

	// loading progress bar
	@include ngx-pace-theme();

	// fixed in rc.9 and can be removed after upgrade
	.custom-control .custom-control-indicator {
		border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
	}
	@include bootstrap-rtl();


	// Regra para impressão do card

	@media print {
		:not(.print-canvas) {
			visibility: hidden;
		}
	}

	@media print {
		.print-canvas {
			visibility: visible;

			* {
				visibility: visible;
			}
		}
	}

	body {
		font-family: 'quicksand', 'SF Text', sans-serif;
		font-weight: normal;
	}

	h1, h2, h3, h4, h5, h6 {
		color: nb-theme(color-primary);
	}

	.modal-content {
		background-color: nb-theme(color-white);
		padding: 2.25rem 4rem;
		padding-bottom: 5rem;

		* {
			font-family: 'quicksand', 'SF Text', sans-serif;
		}

		h1, h2, h3, h4, h5, h6 {
			border-bottom: 1px solid nb-theme(separator);
			margin-top: 2.5rem;
			margin-bottom: 1rem;
		}

		p {
			font-size: 1.2rem;
		}
	}

	.language-modal {
		position: fixed;
		margin: 0;
		bottom: 0;
		right: 0;

		img {
			margin: 0 1px;
			padding: 0;
			width: 26px;
			height: 18px;
			border: 0;
			cursor: pointer;
		}
	}

	.btn-default {
		border: 0;
		padding: 1rem 1.5rem;
		border-radius: 50%;
		background-image: nb-theme(btn-default-bg);
	}

	.font-logo {
		font-family: 'PT Sans', sans-serif;
		font-weight: 700;
	}

	nb-card-footer {
		border-top: 1px solid nb-theme(separator);
	}

	modal-component {

		nb-card {
			margin: 0;
			border: 0;
		}
	}

	.btn {
		font-family: 'quicksand' !important;
		font-weight: 500;
	}

	// BTN WARNING
	.btn-warning {
		color: #333333;
	}

	.btn-warning:hover {
		background: #E6B802;
		color: #333333;
	}

	nb-tab.content-active {
		overflow: hidden;
	}

	// Table Styles

	table {
		color: nb-theme(font-color);
		margin-top: 2rem;
		width: 100%;
		margin-bottom: 4rem;
		box-shadow: nb-theme(box-shadow);
		border-radius: 10px;

		thead {
			background-color: nb-theme(color-medium);

			th {
				color: nb-theme(color-white);
				padding: 15px 24px;
			}

			th:first-child{
				border-radius: 10px 0 0 0;
			}

			th:last-child{
				border-radius:0 10px 0 0;
			}
		}

		tbody {
			tr {
				background-color: nb-theme(color-white);
				animation-name: tr-slide-in;
        		animation-duration: 200ms;
			}

			tr:hover {
				background-color: #DEE3EC !important;
			}

			tr:last-child {
				td:first-child{
					border-radius: 0 0 0 10px;
				}

				td:last-child{
					border-radius:0 0 10px 0;
				}
			}

			td {
				padding: 16px 24px;
				vertical-align: middle;
			}

			.one-line {
				border-radius: 0 0 10px 10px !important;
			}
		}

		tfoot {
			tr {
				background-color: #F2F2F2;
			}
		}

		.actions, .text-center {
			text-align: center;
		}

		.action-btn {
			width: 28px;
		}

		.btn-icon, .btn-red {
			font-size: 28px;
			cursor: pointer;
			color: nb-theme(color-fg);
		}

		.btn-icon:hover {
			color: nb-theme(color-primary);
		}

		.btn-red:hover {
			color: nb-theme(color-danger);
		}
	}

	@keyframes tr-slide-in {
        from { max-height: 0; }
        to { max-height: 50px; }
	}
	
	
};
h2{
    font-size: 25px;
}

.required:after {
    color: #FF9A94;
    content: '*';
    padding-left: 5px;
    display:inline;
    font-weight: bold;
}


.btn-success {
    float: right;
}

.actions, .fields-container {
    padding: 1rem;
}

.label-error{
	color: nb-theme(color-danger);
    font-size: 12px;
}

.readonly{
	background-color: #e9ecef!important;
}