.marker {
	height: 14px;
	position: relative;

	&-text {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		font-size: 10px;
		color: #666;
		text-shadow: 0 0 7px black, 0 0 7px black, 0 0 7px black, 0 0 7px black,  0 0 7px black, 0 0 7px black, 0 0 7px black, 0 0 7px black, 0 0 7px black, 0 0 7px black, 0 0 7px black, 0 0 7px black,  0 0 7px black, 0 0 7px black, 0 0 7px black, 0 0 7px black;

		border-left: 1px solid #666;
		border-right: 1px solid #666;
	}

	&-center {
		position: absolute;
		width: 100%;
		height: 1px;
		top: 50%;
		border-bottom: 1px solid #666;
	}
}